.header-logo {
    font-family: raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.header-logo span {
    color: #4D5AE5;
}

.header-nav {
    text-transform: capitalize;
    color: #2E2F42;
}

.header-nav-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-nav-link:hover, .header-nav-link:focus {
    color: #404BBF;
}

.header-address-item {
    font-style: normal;
    font-size: 16px;
    color: #434455;

}

.header-address-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-address-link:hover, .header-address-link:focus {
    color: #404BBF;
}

