.hero {
    background-color: #2E2F42;
}

.hero-button {
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.hero-button:hover, .hero-button:focus {
    background-color: #404BBF;
}
